.container {
    display: grid;
    grid-template-rows: 2fr 6fr;
}
.title {
    text-align: center;
    line-height: 150px;
    height: 230px;
    background-color: rgb(51, 200, 255);
    font-size: 30px;
    
}
.container2 {
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 670px;
    font-size: 20px;
}
.projectList {
    background-color: aqua;
    padding-left: 10%;
}
.container3 {
    padding-left: 5%;
}
.projectsInput {
    font-size: 20px;
}
.projects {
    font-size: 20px;
}
button {
    font-size: 20px;
}